

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --mainColor: #29335c;
    --mainColorLight: #5767aa;
    --secondaryColor: #DB2B39;
    --textColor: #eee;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 1rem 1rem;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

p {
    margin: 1rem 5rem;
    line-height: 1.6;
    font-family: 'Arial, sans-serif';
    color: #333;
} 

.extra-margin {
    margin-left: 7rem; /* O cualquier valor que prefieras */
}  

h1 {
    color: #333;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Arial, sans-serif';
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.pag-principales {
    margin-bottom: 10%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  
.custom-button:hover {
    background-color: #0056b3;
} 

.logo {
    width: 50px;
    height: auto;
  }